Django==3.0.7
django-auditlog==1.0.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.3.0
django-tenants==3.4.2
django-cors-headers==3.7.0
psycopg2-binary==2.8.6
psycopg2==2.8.6
PyJWT==1.7.1
drf-yasg==1.20.0
gunicorn
django-heroku
django-filter==21.1
django-rest-auth==0.9.5